/database-practice/fastapienv/fastapienv/Lib/site-packages/
/database-practice/fastapienv/fastapienv/Scripts/
/database-practice/.idea/
/database-practice/fastapienv/fastapienv/Include/site/python3.11/greenlet/
/database-practice/fastapienv/fastapienv/
/fastapi-blog/fastapi-server/.idea/
/ocr_app/fastapienv